<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Agent</title>
</head>
<body>
<div align="center">
    <h1>Create New Agent</h1>
    <br/>
    <!--/*@thymesVar id="agent" type="com.example.demo.domain.Agent"*/-->
    <form th:action="@{/save}" th:object="${agent}" method="post">
        <table border="0" cellpadding="10" cellspacing="5">
            <tr>
                <td>First Name</td>

                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td>Last Name</td>

                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>

            </tr>

        </table>

    </form>
    <div><button th:action="@{/generateNewKey}" th:colspan="2">Generate New Key</button></div>

</div>

</body>
</html>